html {
    background: linear-gradient(89deg, #FF5DEF 0%, #04C8DE 100%);
}

body {
    font-family: 'Courier New', Courier, monospace;
}

.auth {
    float: right;
}

li {
    list-style-type: circle;
}

#content {
    margin-left: auto;
    margin-right: auto;
    width: 650px;
}

.box {
    width: 300px;
    border: 2px dashed black;
    padding: 10px;
    margin: 5px;
}

#greeting-container {
  margin-top: 20px;
}

.list-box-model-test {
    width: 300px;
    border: 2px dashed black;
    padding: 25px;
    margin: 5px;
}

#useremail {
    color: white;
    opacity: 0.85;
    font-style: italic;
}
